
/*  HomeNav  */
img {
    max-width: 100%;
}
.HomeNav {
    padding-left: 15%;
    
    padding-right: 30%;
    padding-top: 1%;
}
.logo img {
    width: auto;
    height: auto;
    
}
.header-intro {
    padding: 5%;
    text-align: right;
    font-weight: 600;
    font-size: 17px;
}
.header-strong {
    padding: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.header-infor {
    padding: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.header-hiring {
    padding: 3%;
    font-weight: 600;
    text-align: right;
    font-size: 17px;
}
.hamburger-button{
    display: none;
}
/* End-Of-HomeNav */



/* Body */
.body {
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}
.body-logo-what img {
    width: 400px;
    height: 100px;
}
.body-special img {
    width: 400px;
    height: 100px;
}
.body-logo-what-text {
    font-size: 40px;
    color: #325192;
    font-weight: 400;
}
.body-special {
    font-size: 40px;
    color: #325192;
    font-weight: 400;
}
.text {
    font-size: 40px;
    color: #325192;
    font-weight: 600;
}
.content {
    font-size: 22px;
    color: #3777bc;
    font-weight: 400;
    text-align: justify;
}
.box-what {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.intro-image img{
    width: auto;
    height: auto;
}
.welcome{
    text-align: right;
    padding-right: 8%;
}
.welcome img{
    width: 450px;
    height: auto;
}
.free-to-use img {
    width: 800px;
    height: auto;
}
.moblie-display-main-feature{
    display: none;
}

/* End-Of-Body */




/* HomeFooterNav */
.logo-footer img {
    width: 270px;
    height: 70px;
}
.partner img {
    width: 650px;
    height: 60px;
}
.partner {
    text-align: right;
}
.intro {
    color: #325192;
    font-weight: 490;
}
.footer-intro {
    color: #325192;
    font-weight: 645;
}

.HomeFooterNav {
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

/* End-Of-HomeFooterNav */





/* Page */
html {
    padding-left:5px;
    padding-right:5px; 
}
/* End-Of-Page */




/* Mobile */

@media only screen and (max-width: 768px) {

    /* Header */
    .hamburger-button{
        text-align: left;
        padding-top: 30%;
        display: block;
    }
    .header-intro{
        display: none;
    }
    .header-hiring{
        display:  none;
    }
    .header-strong{
        display: none;
    }
    .header-infor{
        display: none;
    }
    .logo{
        text-align: left;
    }
    .logo img {
        padding-top: 5%;
        width: 50%;
        height: auto;
    }
    /* End of Header */

    /* Body */

    .intro-image img{
        width: auto;
        height: 300px;
        padding-top: 7%;
        
    }
    .body-logo-what img {
        width: 50%;
        height: auto;
        padding-top: 7%;
    }
    .body-logo-what-text {
        font-size: 20px;
        color: #325192;
        font-weight: 400;
    }
    .desktop-display-main-feature {
        display: none;
    }
    .moblie-display-main-feature{
        display: inline;
    }
    
    .text{
        font-size: 11.9px;
        color: #325192;
        font-weight: 600;
        text-align: center;
    }
    .content {
        font-size: 10px;
        color: #3777bc;
        font-weight: 400;
        text-align: justify;
    }
    .body-special img {
        width: 50%;
        height: auto;
        
    }
    .body-special-text {
        font-size: 20px;
        color: #325192;
        font-weight: 400;
    }
    .free-to-use img {
        width: 100%;
        height: auto;
        padding-top: 9%;
    }
    .welcome img {
        width: 90%;
        height: auto;
        padding-top:8%; 
    }
    /* End of body */


    /* Footer */
    .logo-footer{
        padding-top: 6%;
    }
    .logo-footer img {
        width: 50%;
        height: auto;
    }
    .partner {
        padding-top: 7%;
        text-align: center;
    }
    .partner img {
        width: 100%;
        height: auto;
    }
    /* End of Footer */
  }

